﻿* {
    margin: 0;
    padding: 0;
    border: 0;
    font: 14px Shabnam;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    direction: rtl;
    background: #f5f5f5;
}

.left {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

@font-face {
  font-family: Shabnam;
  src: url('../fonts/');
  src: url('../fonts/?#iefix') format('embedded-opentype'),
       url('../fonts/Shabnam.woff2') format('woff2'),
       url('../fonts/Shabnam.woff') format('woff'),
       url('../fonts/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('../fonts/Shabnam-Bold.eot');
  src: url('../fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Shabnam-Bold.woff2') format('woff2'),
       url('../fonts/Shabnam-Bold.woff') format('woff'),
       url('../fonts/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('../fonts/Shabnam-Light.eot');
  src: url('../fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Shabnam-Light.woff2') format('woff2'),
       url('../fonts/Shabnam-Light.woff') format('woff'),
       url('../fonts/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}
