<footer class="bg-dark p-5">
    <h4 class="text-center text-white">ساخته شده توسط <a href="http://liniolon.ir" class="btn btn-outline-light">liniolon</a> با <span style="color: red;">&#x2764;&#xFE0F;</span> زیاد</h4>
</footer>